/*Modelo de cajas Responsive*/
#galeria{
    background-image: url("../images/fondocontraste.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:100%;
}
.alias{
    font-size:2em;
    color:black;
    font-family: Free Monospaced Bold;
}
body{
    margin:0;
    background:black;
    }
#cont {
    width:100%;
    height:927px;
    }
#header {
    width:100%;
    height:15%;
    background-image: url(../images/logo.png);
    background-color: black;
    background-repeat:no-repeat;
    }
#main {
    width:100%;
    height:83%;
    }
#footer {
    width:100%;
    height:2%;
    background-color:grey;
    }
.texto {
    position:relative;
    top:10%;
    }
b{
    color:black;
}
a, a:visited{
    text-decoration: none;
}
a#davida{
    color:red;}
a#davida:hover{
    color:gold;
}
a#quentina{
    color:#4283c5;}
a#quentina:hover{
    color:skygreen;
}
.enlaces a{
    float:right;
    font-size: 1.5em;
    padding-left:5%;
    position:relative;
    top:30%;
    right: 5%;
    font-family: "Free Monospaced Bold";
    color:red;
    border-bottom: solid;
    border-color: skygreen;
}

.selected, .enlaces a:hover{
    color: gold;
}

#footer a{
    color:alicegreen;
    margin-left: 1%;
    position:relative;
    left:35%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: white;
    border-color: #285E8E;
}
.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}
.btn-primary {
    color: #FFF;
    background-color: white;
    border-color: #357EBD;
}
.btn-warning {
    color: black;
    top:1px;
    background-color: white;
    border-color: #EEA236;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #FFF;
    background-color: #47A447;
    border-color: #398439;
}
.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}
.btn-success {
    color: #FFF;
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    color: #FFF;
    background-color: #D2322D;
    border-color: #AC2925;
}
.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}
.btn-danger {
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}

@media only screen 
  and (min-width: 960px) and (max-width: 1524px) {
.descrip{
    font-size: 1em;
    }
.title{
    font-size: 2.5em;
    margin-left: 20%;
}
.enlaces a{
    font-size: 1em;
}
.foto{
    width:50%;
    height:30%;
    border-radius:50%;
    position:relative;
    top:50px;
    left:25%;
    }
iframe{
    position:relative;
    left:30%;
    top:-350px;;
}
  }
  .enlace{
      color:white;
      font-family: Code-Light;
  }
  
  #enlacesedit{
      position:absolute;
      left:600px;
      top:600px;
  }
.fbimagen{
    height:60px;
    width:60px;
    position:absolute;
    top:610px;
    left:220px;
}

.profileimg{
    width:75px;
    height:75px;
    
}

.imgcontent{
    border-radius: 50%;
    border: 5px solid #e7a61a;
    width:250px;
    height:250px;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}

.imgcontentposicion{
    position:relative;
    left:300px;
    top:50px;
}


#isesion{
    position:absolute;
    left:1200px;
    top:150px;
}

#forgetform{
    position:absolute;
    left:1250px;
    top:230px;
}


@font-face {font-family:"Code-Light";src:url("../fonts/CODE_Light.eot?") format("eot"),url("../fonts/CODE_Light.woff") format("woff"),url("../fonts/CODE_Light.ttf") format("truetype"),url("../fonts/CODE_Light.svg#Code-Light") format("svg");font-weight:normal;font-style:normal;}

@font-face {font-family:"Free Monospaced Bold";src:url("../fonts/FreeMonoBold.eot?") format("eot"),url("../fonts/FreeMonoBold.woff") format("woff"),url("../fonts/FreeMonoBold.ttf") format("truetype"),url("../fonts/FreeMonoBold.svg#FreeMonoBold") format("svg");font-weight:normal;font-style:normal;}

/*Visualizador imágenes*/

.section{
 width: 700px;
 margin: 0 auto;
 padding: 15px 30px;
 border-radius: 4px;
 border: solid 1px rgba(250,250,250,0.8);
 box-shadow: 0 0 15px rgba(15,15,15,0.5);
 background: white;
 }
 .article{
 display: inline-block;
 width: 210px;
 position: relative;
 vertical-align: top;
 padding: 0.5em;
 }
 
.article figure{
 width: 99%;
 }
 
.article figure{padding: 0; margin: 0;}
 
.article figure img{
 width: 100%;
 height: 180px;
 border: solid 5px rgba(250,250,250,0.8);
 border-radius: 3px;
 box-shadow: 0 0 2px rgba(0,0,0,0.5);
 }
 
.article figure figcaption{
 padding: 5px;
 color: #606060;
 font-weight: bold;
 }

div.background img {
 margin: 10% auto 0 ;
 border: solid 5px #FFF ;
 width: 500px;
 height: 350px;
 }
 div.background {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 height: 100%;
 width: 100%;
 text-align: center;
 background: rgba(0,0,0,0.8);
 }
 div.background:target {
 display: block;
 }
 
 div.background {
 display: expression((document.location.toString().split('#').slice(1) == this.
 id)?'block':'none');
 }
 
div.background .close{
 display: block;
 width: 500px;
 height: 0px;
 padding:0 10px 0 0;
 text-align: right;
 position: relative;
 color: #000;
 font-size: 18px;
 text-shadow: 0 0 4px #FFF;
 margin: -30px auto 0;
 }
 
div.background .close:hover{
 font-size: 19px;
 }