 <div id="cont">
        <div id="header"><span class="title"><b>A</b>rt of <b>A</b>rchitecture</span>
            <span class="enlaces">
                <a href="../login.php">Login</a>
                <a href="about.php"><b class="selected">About Us</b></a>
                <a href="exposiciones.php">Expositions</a>
                <a href="quentin.php">Quentin</a>
                <a href="david.php">David</a>
                <a href="../index.php">Home</a>
            </span>
        </div>
            <div id="main">
                <div id="groupimg">          
                    <div id="footer">
                        <a href="contact.html">Contact</a>
                        <a href="about.html">About</a>
                        <a href="#">Advertise</a>
                        <a href="#">Guest Posting</a>
                        <a href="#">License</a>
                        <a href="#">Shop</a>
                        <a href="#">Jobs</a>
                        <a href="#">Subscribe</a>
                    </div>
                </div>
                <div id="rayitas"></div>
                <h1>About US</h1>
                <p>CSS-Tricks launched July 4th, 2007. It used to be, believe it or not, primarily about <br>CSS! Over the years, despite the hokey name, CSS-Tricks has come to become a <br>site about all things web design and development.</p>
                <h1>The Team</h1>

                <table class="team-table">      
                    <tbody>
                        <tr>
                            <td>
                                <img alt="" src="../images/1.jpg" class="avatar avatar-200 photo" height="200" width="200"></td>
                            <td>
                                <h4>Chris Coyier</h4>
                                <div class="links">
                                    <a href="https://twitter.com/chriscoyier">Twitter</a>·<a href="/forums/users/chriscoyier/">Forums</a>·<a href="https://chriscoyier.net">Website</a>
                                </div>
                                <p>Founder, writer, designer, spam-deleter, email personality</p>

                                <div class="font-size: 90%;"><a href="https://css-tricks.com/author/chriscoyier/">1926 Posts</a>·<span>1115 Pages</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="" src="../images/sara.jpg" class="avatar avatar-200 photo" height="200" width="200"></td>
                            <td>
                                <h4>Sara Cope</h4>
                                <div class="links">
                                    <a href="https://twitter.com/sarassassin">Twitter</a>·<a href="/forums/users/saracope/">Forums</a>·<a href="https://www.sara.io">Website</a>
                                </div>
                                <p>Orator of Organization and Operation, Master of Invoicing, Sultan of Swag, Esteem of Editing</p>
                                <div class="font-size: 90%;"><span>152 Pages</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="" src="../images/david.png" class="avatar avatar-200 photo" height="200" width="200">
                            </td>
                            <td>
                                <h4>David Lynch</h4>
                                <div class="links">
                                    <a href="https://twitter.com/davidlynch">Twitter</a>·<a href="/forums/users/mdeegillgmail-com/">Forums</a>
                                </div>
                                <p>Architech, Envoy of Email, Viceroy of Doing Things</p>
                                <div class="font-size: 90%;">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="" src="../images/quentin.png" class="avatar avatar-200 photo" height="200" width="200">
                            </td>
                            <td>
                                <h4>Quentin Tarantino</h4>
                                <div class="links">
                                    <a href="https://twitter.com/quentin">Twitter</a>·<a href="/forums/users/sdrasner/">Forums</a>·<a href="https://sarahdrasnerdesign.com">Website</a>
                                </div>
                                <p>Designer, DOM Blacksmith, UX Smelter, Code Forger.</p>
                                <div class="font-size: 90%;">
                                    <a href="#">4 Posts</a>·<span>1 Pages</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img alt="" src="../images/charlie.jpg" class="avatar avatar-200 photo" height="200" width="200">          </td>

                            <td>

                                <h4>Charlie Spencer</h4>
                                <div class="links">
                                    <a href="https://twitter.com/josekaspencer">Twitter</a>·<a href="/forums/users/geoffgraham/">Forums</a>·<a href="https://geoffgraham.me">Website</a>
                                </div>
                                <p>Web Designer, Read, write, coffee, web, repeat.</p>
                                <div class="font-size: 90%;">
                                    <a href="https://css-tricks.com/author/josekaspencer/">20 Posts</a>·<span>5 Pages</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="bye"><i>Nothing is possible without a </i><b>SMILE</b></div>
                <div id="end"></div>
            </div>

        </div>